@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MontserratRegular"; /*Can be any text*/
  src: local("MontserratRegular"),
    url("../public/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserratextrabold"; /*Can be any text*/

  src: local("MontserratExtraBold"),
    url("../public/fonts/Montserrat/Montserrat-ExtraBold.ttf")
      format("truetype");
}
body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #afbad2;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 32px !important;
}
@mixin hide-bottom-only(
  $border-radius,
  $shadow-height,
  $shadow-color: white,
  $clipPathPercentage: 50%
) {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $border-radius;
    box-shadow: 0 $shadow-height $shadow-color;
    clip-path: inset($clipPathPercentage -100vmax -100vmax);
    z-index: 1;
  }
}

@layer components {
  /*=============================================
  =            Accordion            =
  =============================================*/

  .accordion-wrapper .accordion-content {
    height: 0;
    overflow: hidden;

    transition: height 0.25s ease-out;
  }

  .accordion-wrapper .accordion-content.show {
    height: auto;
  }

  .bounce-pricing {
    animation: bounce-accordion 0.5s alternate-reverse;
  }

  @keyframes bounce-accordion {
    to {
      margin-bottom: 2rem;
    }
  }

  .plusminus {
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;

    &.active {
      &:before {
        transform: translatey(-50%) rotate(-90deg);
        opacity: 0;
      }
      &:after {
        transform: translatey(-50%) rotate(0);
      }
    }

    &:before,
    &:after {
      content: "";
      display: block;
      background-color: rgb(61, 61, 61);
      position: absolute;
      top: 50%;
      left: 0;
      transition: 0.35s;
      width: 14px;
      height: 2px;
    }

    &:before {
      transform: translatey(-50%);
    }

    &:after {
      transform: translatey(-50%) rotate(90deg);
    }
  }

  /*=====  End of Accordion  ======*/

  .btn {
    @apply capitalize text-base;
  }

  .btn-ghost {
    @apply font-medium hover:bg-primary hover:text-white;
  }

  .btn-link {
    @apply text-neutral no-underline hover:no-underline hover:text-primary font-semibold;
  }

  .btn-white {
    background: linear-gradient(
      88.61deg,
      #ffffff 100%,
      rgba(255, 255, 255, 0) 100%
    );
    border-color: #ffffff;
    color: #0083ff;
  }

  .btn-primary {
    @apply rounded-[8px] px-6 py-[12px] text-white font-semibold btn-shadow;
  }

  .btn-icon {
    &:hover {
      @apply bg-primary border-primary;

      svg {
        @apply bg-white text-primary;
      }
    }
  }

  .btn-icon-reverse {
    &:hover {
      @apply bg-white border-white text-primary;

      svg {
        @apply bg-primary/30 text-primary;
      }
    }
  }

  .container {
    @apply px-8 lg:px-10;
  }

  .feature-card {
    p {
      @apply text-subtitle;
    }

    &:hover {
      @apply bg-primary text-white transition-colors duration-200 ease-in-out;

      .icon-container {
        @apply bg-glass;
      }

      p {
        @apply text-white;
      }
    }
  }

  /*=============================================
  =            Swiper            =
  =============================================*/

  .testimony-swiper {
    .swiper-container,
    .swiper-wrapper,
    .swiper-slide {
      overflow: visible !important;
    }
    .swiper-slide-shadow {
      border-radius: 30px !important;
    }
  }

  /*=====  End of Swiper  ======*/
}

@layer utilities {
  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .affiliate-get-started div:nth-child(2n) {
    @apply lg:relative lg:top-[80px];
  }

  .btn-shadow {
    box-shadow: 0px 24px 30px rgba(0, 131, 255, 0.18);
  }

  .bg-glass {
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0px 0px 0px 1.5px #ffffff inset;
    backdrop-filter: blur(7.5px);
  }
  .bg-glass-border {
    box-shadow: 0px 0px 0px 1.5px #ffffff inset;
  }
  .bg-glass-light {
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(7.5px);
  }
  .bg-white-gradient {
    background: linear-gradient(
      88.61deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .card-shadow {
    box-shadow: 0px 53.9059px 92.9412px rgba(0, 0, 0, 0.15);
  }

  .faq-card-shadow {
    box-shadow: 0px 50px 80px rgba(7, 46, 83, 0.07);
  }

  .feature-card-shadow {
    box-shadow: 0px 94.0005px 115.798px rgba(0, 0, 0, 0.03);
  }
  .text-26 {
    font-size: 26px !important;
  }
  .footer-links {
    h4 {
      @apply font-bold mb-8;
    }

    li:not(:last-child) {
      @apply mb-5 lg:mb-7;
    }
  }

  .hero-comp-shadow {
    box-shadow: 0px 53.9059px 92.9412px rgba(0, 0, 0, 0.15);
  }

  .hero-height {
    @apply sm:h-[calc(100vh-theme(space.header-height))] md:h-fit;
  }

  .home-form {
    @apply border border-neutral-200 p-8 rounded-2xl;

    label {
      span {
        @apply font-semibold text-base;
      }
    }
  }

  .auth-form {
    width: 100%;
    label {
      span {
        @apply font-normal text-base;
      }
    }

    .formIcon {
      position: relative;
      top: 43px;
      left: 0.625rem;
    }

    .maskIcon {
      position: absolute;
      right: 0.938rem;
      top: 2.813rem;
    }
  }

  .job-openings-shadow {
    box-shadow: 0px 37px 100px rgba(0, 0, 0, 0.03);
  }

  .mega-menu-list {
    &:hover {
      .list-icon {
        @apply bg-white;
      }
    }
  }

  .press-about-checkified div:nth-child(2n) {
    @apply lg:relative lg:top-[40px];
  }

  .sosmed-card-shadow {
    box-shadow: 0px 4px 145px rgba(0, 0, 0, 0.09);
  }

  .svg-primary {
    filter: invert(28%) sepia(89%) saturate(2154%) hue-rotate(198deg)
      brightness(107%) contrast(104%);
  }

  .svg-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(288deg)
      brightness(103%) contrast(101%);
  }

  .svg-primary-opacity {
    filter: invert(28%) sepia(89%) saturate(2154%) hue-rotate(198deg)
      brightness(107%) contrast(104%) opacity(15%);
  }

  .svg-white-opacity {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(288deg)
      brightness(103%) contrast(101%) opacity(10%);
  }

  .triangle {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }

  .our-culture-container {
    @include hide-bottom-only(2rem, 4rem, #fcfdff);
  }

  .university-container {
    @include hide-bottom-only(2rem, 4rem, #fcfdff);
  }

  .mastery-ecommerce-container {
    @include hide-bottom-only(2rem, 4rem, #fcfdff, 100%);
  }

  .medsos-container {
    @apply relative;

    &::before,
    &::after {
      content: "";
      @apply absolute h-full w-10 z-10 from-base-100;
    }

    &::before {
      @apply left-0 top-0 bg-gradient-to-r;
    }

    &::after {
      @apply right-0 top-0 bg-gradient-to-l;
    }
  }

  .infinite-slide-left {
    animation: scroll-left 20s linear infinite;
  }

  .infinite-slide-right {
    animation: scroll-right 20s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }

  @keyframes scroll-right {
    0% {
      right: 0;
    }
    100% {
      right: -100%;
    }
  }
}

#side_hover_div_svg {
  stroke: #707ba0;
  cursor: pointer;
  z-index: 0;
}

#side_hover_div span {
  position: relative;
  z-index: 1;
}

// #side_hover_div:hover,
#side_hover_div.active {
  // color: hsl(var(--p) / var(--tw-text-opacity));
  color: #0083ff;
  background: linear-gradient(
    90deg,
    rgba(0, 131, 255, 0.19) -21.06%,
    rgba(255, 255, 255, 0) 119.47%
  );
  border-radius: 8px 0px 0px 8px;
  border-width: 0px 7px 0px 0px;
  border-color: var(--primary);
}
#side_hover_div:hover svg {
  stroke: #0083ff;
}
.text-10-xs {
  font-size: 0.625rem; /* 10px */
  line-height: 0.875rem; /* 14px */
}
//svghover

.progress_line {
  width: 50%;
  box-shadow: 0px 0px 11px rgba(0, 131, 255, 0.55);
}
.setting-icon {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}
.profile-dropdown-icon {
  background: rgba(255, 255, 255, 0.51);
  border: 1px solid #ffffff;
  backdrop-filter: blur(6px);
  padding: 0.4rem;
  filter: drop-shadow(0px 18px 19px rgba(0, 0, 0, 0.1));
}
.side_header_img {
  width: 100% !important;
  margin: 0 auto;
  position: unset !important;
  height: unset !important;
  margin-top: -35%;
}
.side_img_wrap {
  box-shadow: 0px 13px 50px rgba(0, 131, 255, 0.38);
  border-radius: 25px;
  width: 85%;
}
.sidebar_img_btn {
  height: unset !important;
  min-height: unset !important;
}
.form_inner_logo {
  background: rgba(255, 255, 255, 0.4);
  border: 1.5px solid #ffffff;
  backdrop-filter: blur(7.5px);
}
.form_benner_logo {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.38) 0%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
  backdrop-filter: blur(7.5px) !important;
}
.form_benner_icon {
  background: rgba(255, 255, 255, 0.54);
  backdrop-filter: blur(5.85015px);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.popup.open {
  display: flex;
}

.content {
  background-color: #fff;
  padding: 30px;
  border-radius: 28px;
  max-width: 300px;
  width: 90%;
  max-height: 90%;
  overflow: auto;
}

.closeButton {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    max-width: 500px;
  }
}

/*=============================================
  =           toggle button           =
  =============================================*/
/* Middle */
.toggle_switch .content-switch {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 100%;
  transform: translateY(5%);
  margin: 0 0 1rem;
}

.toggle_switch label,
.toggle {
  height: 3.2rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
}
.toggle_switch label {
  width: 100%;
  background-color: #fff;
  border-radius: 0.75rem;
  border: 1px solid #dee1ea;
  position: relative;
  margin: 0 0;
  cursor: pointer;
}
.toggle_switch .toggle {
  position: absolute;
  width: 50%;
  background-color: #0083ff;
  box-shadow: 0px 10px 21px rgba(0, 131, 255, 0.25);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toggle_switch .names {
  font-size: 90%;
  font-weight: bolder;
  width: 74%;
  margin-left: 11.5%;
  margin-top: 0.5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.toggle_switch .dark {
  color: #707ba0;
  font-weight: 600;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle_switch .light {
  color: #fff;
  font-weight: 600;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle_svg {
  stroke: #707ba0;
  margin-right: 8px;
}
.toggle_svg_light {
  stroke: #fff;
  margin-right: 8px;
}

#switch[type="checkbox"] {
  display: none;
}

/* Toggle */
[type="checkbox"]:checked + .toggle_switch .toggle {
  transform: translateX(100%);
  background-color: #0083ff;
}
[type="checkbox"]:checked + .toggle_switch .dark {
  color: #fff;
  font-weight: 600;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
[type="checkbox"]:checked + .toggle_switch .toggle_svg_light {
  stroke: #707ba0;
}
[type="checkbox"]:checked + .toggle_switch .toggle_svg {
  stroke: #fff;
}
[type="checkbox"]:checked + .toggle_switch .light {
  color: #707ba0;
  font-weight: 600;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

/************************************************/
.popup_form_title {
  font-size: 26px !important;
  margin-bottom: 0 !important;
}
.closeButton {
  margin-bottom: 0 !important;
}

.profile_pop_img {
  top: 75% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 116% !important;
}
.profile_pop_img {
  top: 68% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 100% !important;

  height: unset !important;
  max-width: unset !important;
}

.right-\[-2rem\] {
  right: -2rem;
}
.text-18 {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}
.font-900 {
  font-weight: 900 !important;
}

/*****************************dashboard**************************************/
.middle_section {
  padding: 2.188rem 2.5rem;
  overflow: hidden;
}
.main_body {
  padding: 100px 0px 0px;
}
.font-mont {
  font-family: "MontserratRegular";
}
.font-extrabold-mont {
  font-family: "Montserratextrabold";
}

.font-mont {
  font-family: "MontserratRegular";
}
.font-extrabold-mont {
  font-family: "Montserratextrabold";
}

.text-707BA0 {
  color: #707ba0;
}
.pt-12 {
  padding-top: 3rem;
}
.pt-14 {
  padding-top: 3.5rem;
}
.pt-16 {
  padding-top: 4rem;
}
.h-header-100 {
  height: 100px;
}
.ml-5-5{
  margin-left: 5.5rem;
}
.box-shadow-box {
  box-shadow: 0px 20px 115.798px rgba(0, 0, 0, 0.06);
}
.cricle-shadow {
  box-shadow: 0px 20px 58px rgba(13, 32, 74, 0.08);
}
.prfoilebtn-shadow {
  box-shadow: 0px 24px 50px rgba(13, 32, 74, 0.07);
}
.btn-light-primary {
  background: #7dc0ff;
  color: #fff;
}
.btn-light-primary:hover {
  background: #7dc0ff;
}
.text-26-xl {
  font-size: 1.625rem; /* 26px */
  line-height: 2rem; /* 32px */
}
/**************Library*********************/
.btn-height-rem {
  height: 2.2rem;
  min-height: 2.2rem;
}
/****************coursedetail*****************************/
div.vertical-line {
  width: 2px;
  background-color: #e8ecfa;
  height: 80%;
  position: absolute;
  left: 30px;
  top: 85px;
}
.play-video-sm {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.bg-base-08 {
  --tw-bg-opacity: 0.8;
  background-color: hsl(var(--b1) / var(--tw-bg-opacity));
}
.bg-play-tab {
  background: #ecf4fd;
}
.play-tab-shadow {
  box-shadow: 0px 15px 17px rgba(0, 131, 255, 0.18);
}
@media (min-width: 1500px) {
  .profile_pop_img {
    width: 100% !important;
  }
}

@media (min-width: 1820px) {
  .profile_pop_img {
    width: 67% !important;
  }
}
@media (min-width: 1550px) {
  .form_inner_icon_1 svg {
    width: 100% !important;
  }
}
.closeButton svg {
  color: #707ba0 !important;
  font-size: larger;
}
.form-text-color {
  color: #151e3a !important;
}
.form_benner_logo {
  padding-left: 23px !important;
  padding-right: 23px !important;
  padding-top: 19px !important;
  padding-bottom: 19px !important;
}
.form_benner_icon {
  margin-right: 18px !important;
}
.form_inner_logo {
  padding: 5.5px !important;
}
.form_benner_outer {
  gap: 3.5rem;
}
.edit-icon {
  position: absolute;
  top: 50%;
  left: 92%;
  transform: translate(-50%, -50%);
}
.icon-field {
  position: relative;
}
.input {
  font-size: 0.775rem !important;
}
.btn-spara {
  padding-right: 47px;
  font-size: 14px !important;
  padding-left: 47px;
  margin-bottom: 4rem;
}
.hr-height {
  border-top-width: 2px !important;
}

.hr-height {
  border-top-width: 2px !important;
}
// .height-fullscreen {
//   height: 100vh;
// }
.title-font-size {
  font-size: 1.125rem !important;
  margin-bottom: 1rem !important;
}
.pro_setting_side_font {
  font-size: 0.625rem;
}
.profile_grid_set {
  grid-template-columns: repeat(14, minmax(0, 1fr)) !important;
}
.profile_grid_inner_set_1 {
  grid-column: span 9 / span 9 !important;
}
.profile_grid_inner_set_2 {
  grid-column: span 5 / span 5;
}
.pro_pri_btn {
  height: unset !important;
  min-height: unset !important;
}
.page_title-font-size {
  font-size: 1.125rem !important;
}
.buttton_img_pro_setting {
  padding: 0.1rem !important;
}
.text_12_color {
  color: #afbad2;
}
.bg_color_dash {
  background-color: #e1ecfb !important;
}
.absolute_obje_position {
  top: 56%;
  right: -12%;
}
.absolute_obje_position2 {
  top: -31%;
  left: -8%;
}
.colunm_row_gap_form {
  column-gap: 2.5rem !important;
  row-gap: 0.7rem !important;
}
.input {
  height: 3.5rem !important;
  color: #afbad2 !important;
}
.btn_pro_payment {
  height: 4rem !important;
}
/*********************community*************************************/
/*****video btn*********/
.text-redlight-500 {
  color: #fd2356;
}
.border-redlight {
  border: 1px solid #fbeff5;
}
.border-redlight:hover {
  border: 1px solid #fbeff5;
}
.bg-redlight {
  background-color: #fbeff5;
}
.bg-redlight:hover {
  background-color: #fbeff5;
}

/*****bilder btn*********/
.text-violet-500 {
  color: #5224dd;
}
.border-violet {
  border: 1px solid #f1eeff;
}
.border-violet:hover {
  border: 1px solid #f1eeff;
}
.bg-violet {
  background-color: #f1eeff;
}
.bg-violet:hover {
  background-color: #f1eeff;
}
.user-img-shadow {
  filter: drop-shadow(0px 17.6651px 18.6465px rgba(0, 0, 0, 0.1));
}
.text-151E3A {
  color: #151e3a;
}
.btn-filter {
  border-color: transparent;
  background-color: transparent;
}
.btn-filter:hover {
  color: #151e3a;
  text-decoration-line: none;
}
.border-filter {
  border: 1px solid #ecf1ff;
}

.side_payment_bar {
  height: 78% !important;
}

/*************Admin Panel css********************/

.admin2_btn {
  background: rgba(255, 255, 255, 0.14) !important;
  border-radius: 5px !important;
}
.admin2_banner {
  gap: 4.5rem !important;
  padding-bottom: 5.5rem !important;
}
.admin_list_menu {
  background-color: #f9f9f9;
}
.search_svg {
  background: #edf5fe;
  border-radius: 29px;
  width: 40px;
  height: 40px;
}
.rounded-corner {
  border-radius: 100px;
}
.circle-shadow {
  box-shadow: 0px 53px 90px rgba(0, 0, 0, 0.15);
}
.h-370 {
  height: 370px !important;
}
.calender-img {
  height: 340px !important;
  left: 50px !important;
  top: -75px !important;
}
.admin2_content_title span {
  color: #0083ff !important;
}
.bg-0083FF {
  background-color: #0083ff !important;
}
.admin2_header_icon {
  margin-right: unset !important;
}
.admin2_list_wrap {
  margin-top: -7.5rem;
}
.bg-EDF5FE {
  background-color: #edf5fe !important;
}
.admin_list_date,
.admin_list_count {
  padding: 4px 11px;
}
.menu-options {
  top: 0%;
  right: 131%;
  width: 114px;
  box-shadow: 0px 18px 35px rgba(13, 32, 74, 0.06);
  border-radius: 8px;
  background-color: #fff;
}
.menu-options div {
  border-radius: 6px;
  padding: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  color: #707ba0;
}
.menu-options div:hover {
  background-color: #0083ff;
  box-shadow: 0px 5px 25px rgba(0, 131, 255, 0.16);
  color: white;
}


.admin_card_menu .menu-options {
  top: 95%;
  right: 0%;
  width: 100px;
  box-shadow: 0px 18px 35px rgba(13, 32, 74, 0.06);
  border-radius: 8px;
  background-color: #fff;
}


/*****************************admin dashboord***************************************/
.input.admin-outline-none {
  outline: 0px solid hsla(var(--bc) / 0.2);
  outline-offset: 0px;
}
.border-img {
  border-image-source: url("../public/images/Adminimg/border-slice.svg");
  border-image-outset: 5px;
  border-image-slice: 30;
  border-image-width: 30px;
}
// .active1 {
//   background-color: #3468cb !important;
//   color: white !important;
//   margin-bottom: 16px;
// }
#topcircle {
  z-index: 1 !important;
}
.fgp_para{
  color: #000054;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 43px;
}
.border_dased{
  border: 2px dashed #0083FF;
  border-radius: 15px;
}
.uploaded_video_list li .li_add{
  display: flex;
  align-items: center;
}
.uploaded_video_list li{
  padding: 0.78vw 1.04vw;
  box-shadow: 0px 0px 115.79769897460938px 0px rgba(0, 0, 0, 0.04);
  margin-bottom: 1.04vw;
}
.uploaded_video_list li .icon_add_course{
  margin-right: 1.04vw;
}
.uploaded_video_list img{
  margin-right: 0.78vw;
}
.video_title p{
  color: #151E3A;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
}
.video_detail p{
  color: #707BA0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}
.input_add_title{
  border-radius: 8px;
  height: 2.44vw;
background: #EDF5FE;
box-shadow: 0px 0px 115.79769897460938px 0px rgba(0, 0, 0, 0.04);
display: none;
width: 100%;
margin-top: 1.04vw;
color: #707BA0;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 266.667% */

}
.input_add_content{
  border-radius: 8px;
  height: 10vw;
  background: #EDF5FE;
  box-shadow: 0px 0px 115.79769897460938px 0px rgba(0, 0, 0, 0.04);
  display: none;
  width: 100%;
  margin-top: 1.04vw;
  color: #707BA0;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 266.667% */
  display: inline-block !important;

}
.input_add_title.active{
  display: inline-block;
}
span.gapbetween {
  margin: 0 5px;
}
.otp-input input {
  width: 117px !important;
  height: 70px !important;
  color: #000 !important;
    font-weight: 500;
    font-size: 2.5rem !important;
    --tw-border-opacity: 0.2;
    flex-shrink: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 2;
    line-height: 1.5rem;
    border-width: 1px;
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
    --tw-border-opacity: 0;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1) / var(--tw-bg-opacity));
    border-radius: var(--rounded-btn, 0.5rem);
    --tw-border-opacity: 0.2;
}
.course_detail_head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25vw;
}
.back_button{
  border: 7px solid #fff;
  border-radius: 50px;
  width: 3.02vw;
  height: 3.02vw;
  justify-content: center;
    align-items: center;
    display: flex;
}
.course_detail_edit {
  display: flex;
  column-gap: 0.52vw;
  justify-content: center;
  background-color: #fff;
  border-radius: 30px;
  align-items: center; 

  font-size: 14px;
  width: 9.76vw;
  height: 4.07vw;
}
.course_detail_add {
  width: 9.76vw;
  font-size: 14px;
  display: flex;
  height: 4.07vw;
  column-gap: 0.52vw;
  border-radius: 30px;
background-color: #0083FF;
color: #fff;
justify-content: center;
align-items: center;

}
.course_detail_head_right{
  display: flex;
  column-gap: 0.78vw;
}

/*********************************************/
.password-strength-meter {
  position: relative;
  overflow: hidden;
  display: flex;
  top: -20px;
}

.strength-segment {
  width: 25%;
  height: 3px;
  flex: 1;
  background-color: #afbad2; /* Unactive color */
  transition: background-color 0.3s ease-in-out;
  margin-right: 10px;
}

.strength-segment.active {
  background-color: #0083ff; /* Active color */
}

.strength-label {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}

.label-text {
  font-weight: bold;
}


.input_add_title.course_Name{
  display: inline-block !important;
}
.none_display{
  display: none;
}
.set_lazy{
  height: 600px;
  overflow-y: scroll;
}
.custom-mb-0 {
  margin-bottom: 5px !important;
}

.emailconfirmationpopup .ReactModal__Content.ReactModal__Content--after-open {
	inset: 0 !important;
	margin: 0 auto;
	background: rgba(7, 47, 148, 0.3) !important;
	top: 0 !important;
	width: 100vw;
	height: 100%;
  padding: 0px !important;
}
.emailconfirmationpopup .ReactModal__Content.ReactModal__Content--after-open .popup-content {
	width: auto;
	max-width: 600px;
	margin: 0 auto;
	background: #fff;
  margin-top:2rem;
}
.mb-2_cmargin{
  margin-bottom: 1vw !important;
}
.text-mainsubtitle{
  color: #333;
  font-weight: 700; 
}
.font_size_24{
  font-size: 24px;
}

.custom-video-player-time-bar {
  height: 4px; /* Set the height of the time bar */
  background-color: #007bff; /* Set the background color of the time bar */
}

/* Style the current time indicator */
.custom-video-player-current-time {
  height: 100%;
  background-color: #ff0000; /* Customize the color of the current time indicator */
}

.custom-video-player-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Style the play icon */
.custom-video-player-button.play::before {
  // content: url('play-icon.svg'); /* Replace with your play icon path */
}

/* Style the pause icon */
.custom-video-player-button.pause::before {
  // content: url('pause-icon.svg'); /* Replace with your pause icon path */
}




.video_player h1 {
  color: white;
}

.video_player video {
  width: 100%;
}

.video_player .video-wrapper {
  width: 100%;
  max-width: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.video_player .video-wrapper:hover .controls {
  transform: translateY(0%);
}

.video_player .controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0px;
  padding: 0.25vw;
  width: 100%;
  flex-wrap: wrap;
  // background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  // backdrop-filter: blur(4px);
  // -webkit-backdrop-filter: blur(4px);
  // border-radius: 10px;
  // border: 1px solid rgba(255, 255, 255, 0.18);
  // transform: translateY(150%);
  transition: all 0.3s ease-in-out;
}

.actions button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.actions button i {
  background-color: none;
  color: white;
  font-size: 30px;
}

.video_player input[type="range"] {
  -webkit-appearance: none !important;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  height: 4px;
  width: 350px;
}

.video_player input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  cursor: pointer;
  height: 6px;
}

.video_player input[type="range"]::-moz-range-progress {
  background: black;
}

.video_player .velocity {
  appearance: none;
  background: none;
  color: white;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
}

.video_player .mute-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.video_player .mute-btn i {
  background-color: none;
  color: white;
  font-size: 20px;
}
.input_custom_height{
  height: 1rem !important;
}
input.bg-base-100{
  border: 2px solid hsla(var(--bc) / 0.2);
}
input.bg-base-100:focus{
  outline: unset !important;
}
.border_checkout{
  border: 2px solid hsla(var(--bc) / 0.2);
}
// main .container:has(.checkoutcourse){
//   --tw-bg-opacity: 1;
//     background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
// }   

.checkout_step_2 input{
  border: 2px solid hsla(var(--bc) / 0.2) !important;
}
.checkout_step_2 input:focus{
  outline: unset !important;
}
.checkout_step_2 input{
  background-color: #fff;
}
.custom_border_checkout{
  border: 2px solid #DCE2F8;

}

.custom_border_checkout2{
  border-top: none !important;
}
.checkout_step_2 form{
  text-align: right;
}
.checkout_step_2 form button{
  width: unset !important;
}

.checkout_step_2 form label span{
  color: rgb(112 123 160 / var(--tw-text-opacity)) !important;
  font-weight: 500 !important;
}

.loader6 {
  // display:inline-block;
  width: 40px;
	height:40px;
  border-radius: 100%;
	border-left: 4px solid #bbbbbb;
	border-right: 4px solid #0083ff;
	border-bottom: 4px solid #0083ff;
  border-top: 4px solid #0083ff;
  -webkit-animation: loader6 1.8s ease-in-out infinite alternate;
  animation: loader6 1.8s ease-in-out infinite alternate;
}

.justify-content-between{
  justify-content: space-between;
}
// .loader6:before {
//   content: " ";
//   position: absolute;
//   z-index: -1;
//   top: 0px;
//   width: 40px;
//   height: 40px;
//   border-radius: 100%;
//   border-left: 4px solid #D24D57;
//   border-right: 4px solid #D24D57;
// }

@keyframes loader6 {
   from {transform: rotate(0deg);}
   to {transform: rotate(720deg);}
}
@-webkit-keyframes loader6 {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(720deg);}
}
.loader_bg{
  position: fixed;
  background-color: rgba(224, 242, 254, 0.5);
  width: 100%;
  height: 100vh;
}

.tutorial_list >a > div{
  transition: 0.3s; 
}
.tutorial_list >a > div:hover {
  transform: translateY(-10px);
}
.home-form.bg-white input::placeholder{
  font-size: 1rem !important;
}

.font-ctm input::placeholder{
  font-size: 1rem !important;
}

.font-ctm input{
  font-size: 1rem !important;
}


.home-form.bg-white textarea::placeholder{
  font-size:  1rem !important;
}
.our-culture-container.obj_fix:before{
  box-shadow: 0 12rem #fcfdff !important;
}
.btn-primary.drop-shadow-none{
  box-shadow: none !important;
}
.lock_img{
  transform: translate(-50%, -50%);
  width: 4vw;
  height: 4vw;
  background-color: rgba(255, 255, 255, 0.87);
  padding: 1.1vw;
  border-radius: 50%;
}
.lock_img_img{
  filter: brightness(0.5);
}
.btn-filter_ctm {
  background-color: #151e3a !important;
  color: #fff !important;
}
  .thumbnail {
          position: absolute;
          cursor: pointer;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
        }

        .thumbnail img {
          height: auto;
        }

        .play-button {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 24px;
          color: white;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 50%;
          padding: 10px;
          cursor: pointer;
        }

        .play-button:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }

        @media(max-width:580px){
          .lock_img {
            transform: translate(-50%, -50%);
            width: 17vw;
            height: 17vw;
            background-color: rgba(255, 255, 255, 0.87);
            padding: 5.1vw;
            border-radius: 50%;
        }
        }


       .confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

// Testimonial Section
.testimonial-section {

  @media screen and (max-width: 768px) {
    .infinite-slide-left {
      animation: scroll-left 7s linear infinite;
    }
  }

  .testimonial-slider-container {
    min-height: 300px
  }

  .testimonial-slider div {
    // width: 330px;
    height: 400px;
    // margin-right: 20px;
  }

  .testimonial-slider img {
    border-width: 10px;
    border-color: #e2e6f3;
  }

}

// Blog list - show only 3 blogs in home page
/* CSS for mobile view */
@media screen and (max-width: 768px) {
  .blog-list-div {
    display: none;
  }
  /* Show only the first three divs */
  .blog-list-div:nth-child(-n + 3) {
    display: block;
  }
}
.home_video_cover {
  box-shadow: 0 4px 30px 2px rgba(62, 111, 237, 1);
}